@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --bg-color: #242424;
  --surface-cards: #18181d;
  --text-primary: #ffffff;
  --text-secundary: #b3b3b3;
  --accent-color: #6d4aff;
  --accent-color2: #3a7bff;
  --accent-color3: rgb(100, 237, 255);
  --headings-weight: 700;
  --body-weight: 300;
  --size-headings: 64px;
  --size-sub-headings: 40px;
  --size-body-text: 20px;
  --size-links: 16px;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 6px 44px;
  font-size: var(--size-links);
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0 0 20px var(--accent-color);
}

.buy-btn {
  background-color: var(--accent-color2);
  z-index: 1;
}
.buy-btn:hover {
  background-color: #2c70fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 10%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  animation: fade-in 0.5s ease-in-out forwards;
}
header .logo {
  text-transform: uppercase;
  font-size: var(--size-sub-headings);
  font-weight: var(--body-weight);
}
header .nav-section {
  display: flex;
  gap: 3rem;
  align-items: center;
}
header .nav-section .nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .nav-section .nav .nav-links {
  font-size: var(--size-links);
  text-transform: uppercase;
  opacity: 80%;
  font-weight: var(--body-weight);
  transition: all 0.2s ease-in-out;
}
header .nav-section .nav .nav-links:hover {
  opacity: 1;
}

header.header-effect {
  background-color: rgba(255, 255, 255, 0.2862745098);
  backdrop-filter: blur(10px);
  padding: 5px 5%;
  border-radius: 0px 0px 20px 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 25px 20px -20px;
}

.hero-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-inline: 10%;
  padding-top: 80px;
  background: linear-gradient(to right bottom, #6d4aff, rgb(100, 237, 255));
  position: sticky;
  top: 0;
}
.hero-sec .hero-text {
  width: 50%;
}
.hero-sec .hero-text .hero-heading {
  font-size: var(--size-headings);
  margin-bottom: 20px;
  animation: fade-in 0.5s ease-in-out forwards;
}
.hero-sec .hero-text .hero-heading span {
  position: relative;
  z-index: 200;
}
.hero-sec .hero-text .hero-heading span::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 0px;
  background-color: var(--text-primary);
  top: 50%;
  left: -5px;
  animation: span-animation 0.5s forwards;
  animation-delay: 1s;
}
.hero-sec .hero-text .hero-parag {
  font-size: var(--size-sub-headings);
  line-height: 1.5;
  font-weight: var(--body-weight);
  opacity: 80%;
  margin-bottom: 20px;
  animation: fade-in 0.8s ease-in-out forwards;
}
.hero-sec .hero-text .hero-parag span {
  font-weight: var(--headings-weight);
}
.hero-sec .hero-text button {
  font-size: var(--size-body-text);
  animation: fade-in 1s ease-in-out forwards;
}
.hero-sec .hero-text .explore-btn {
  background-color: var(--accent-color);
}
.hero-sec .hero-text .explore-btn:hover {
  background-color: #6640ff;
}
.hero-sec .badge {
  animation: fade-in 1s ease-in-out forwards;
}
.hero-sec .hero-img-container {
  width: 45%;
  position: relative;
  animation: fade-in 1.5s ease-in-out forwards;
}
.hero-sec .hero-img-container::before, .hero-sec .hero-img-container::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid var(--text-primary);
  animation: rotate-border 15s linear infinite;
}
.hero-sec .hero-img-container::before {
  top: 100px;
  left: 200px;
  z-index: 0;
  border-color: var(--accent-color3);
}
.hero-sec .hero-img-container::after {
  bottom: 50px;
  right: 250px;
  z-index: 2;
  width: 15rem;
  height: 15rem;
}
.hero-sec .hero-img-container img {
  width: 80%;
  position: relative;
  z-index: 1;
  animation: floating 3s ease infinite alternate;
}

.sec {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: var(--size-headings);
  position: relative;
  z-index: 1;
}

.sec-three {
  background-color: var(--accent-color3);
}

.test {
  height: 100vh;
  width: 100%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 500;
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes floating {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes span-animation {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }

}

